/* Reset general */
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Fondo */
body{
  background-color: #fff;
}

/* Capa oscura sobre el fondo */
.capa{
  position:fixed;
  width:100%;
  height:100vh;
  background:rgba(255, 254, 254, 0.6);
  z-index:-1;
  top:0;
  left:0;
}

/* ENCABEZADO */

.header{
  width:100%;
  height:100px;
  position:fixed;
  top:0;
  left:0;
}

/* Contenedor del header */
.container{
  width:90%;
  max-width:1200px;
  margin:auto;
  height:100%;
  display:flex;
  align-items:center;
  justify-content:space-between;
  background-color: #ffffff;
}

/* Icono del menú */
.btn-menu label{
  color:#000000;
  font-size:50px;
  cursor:pointer;
}

/* Título */
.logo{
  display:flex;
  align-items:center;
}

.logo h1{
  color:#000000;
  font-weight:400;
  font-size:45px;
  margin-left:10px;
}

/* Botón cerrar sesión */
.menu a{
  color:#000000;
  font-size:35px;
  text-decoration:none;
}

/* MENÚ LATERAL */

#btn-menu{
  display:none;
}

.container-menu{
  position:fixed;
  background:rgba(0,0,0,0.5);
  width:100%;
  height:100vh;
  top:0;
  left:0;
  transition:all 500ms ease;
  opacity:0;
  visibility:hidden;
}

/* Mostrar menú */
#btn-menu:checked ~ .container-menu{
  opacity:1;
  visibility:visible;
}

/* Panel lateral */
.cont-menu{
  width:100%;
  max-width:300px;
  background:#273ae6;
  height:100vh;
  position:relative;
  transition:all 500ms ease;
  transform:translateX(-100%);
}

/* Animación apertura */
#btn-menu:checked ~ .container-menu .cont-menu{
  transform:translateX(0%);
}

/* Navegación del menú */
.cont-menu nav{
  transform: translateY(20%);
}

/* Links del menú */
.cont-menu nav a{

  position: relative;
  display: block;
  text-decoration:none;
  font-size:30px;
  padding:33px;
  color:#c7c7c7;
  border-left:5px solid transparent;
  transition:all 400ms ease;
}

/* Hover */
.cont-menu nav a:hover{
  border-left:5px solid #c7c7c7;
  background:#ffffff;
}

/* Botón cerrar menú */
.cont-menu label{
  position:fixed;
  right:90px;
  top:10px;
  color:#fff;
  cursor:pointer;
  font-size:60px;
}

.contenido {
  margin-left: 450px; /* espacio para el menú */
  padding: 20px;
  margin-top: 100px;;
}

.contenido h2 {
  color: #000000;
  margin-bottom: 20px;
  font-size: 50px;
}

.contenido p{
  font-size: 20px;
}


.formulario {
  margin-top: 20px;
  background: rgb(255, 255, 255);
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #afd6fc;
  width: 900px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.tarjeta {
  background: rgb(226, 242, 255);
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #afd6fc;
  width: 900px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.tarjeta p {
  color: #0b1994;
}

.formulario{
  margin-top: 20px;
  background: rgb(255, 255, 255);
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #afd6fc;
  width: 900px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.formulario h3{
  font-size: 30px;
  color: #000e8f;
}

.formulario p{
  color: #b8b8b8;
}

.formulario input[type="text"], .formulario input[type="email"]{
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  border: 1px solid #afd6fc;
  border-radius: 5px;
  font-size: 20px;
}
.formulario input[type="checkbox"]{
  margin-right: 10px;
  transform: scale(1.5);

}
.formulario textarea{
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  border: 1px solid #afd6fc;
  border-radius: 5px;
  font-size: 20px;
}
.formulario button[type="submit"]{
  background-color: #273ae6;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
}

.formulario label {
  font-size: 25px;
}
